body {
  margin: 0;
  padding: 0;
  font-family:  Lucida Handwriting-std, Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url(img/img.jpeg);
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Lucida Handwriting-std;
  font-size: 25px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#camera-container {
  position: relative;
  margin-bottom: 20px;
}

#preview {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#controls {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  font-family: Lucida Handwriting-std;
  cursor: pointer;
  background-color: #f3674a;
  color: black;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

button:hover {
  background-color: #ccc;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #f3674a;
  margin-bottom: 10px;
}

#submitButton {
  display: block;
  margin: 0 auto;
}
